html, body {
	height: 100%;
	margin: 0;
}

#app {
	height: 100%;
}
.login-layout {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.login-form {
	flex-basis: 500px;
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: stretch;
}

.admin-layout {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
}

.admin-menu {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	border-right: 1px dashed #1e2327;
	padding: 20px;
}

ul {
	padding-left: 25px;
}

li {
	list-style-type: none;
}

li.maintain {
	font-size: small;
	padding-left: 15px;
}
.admin-content {
	padding-left: 15px;
	flex-basis: 100%;
}

.collapse-icon {
	cursor: pointer;
}

.remove-icon {
	cursor: pointer;
}

.list-label {
	cursor: pointer;
}

.flat-input {
	border: 0;
	margin: 2px;
}
.flat-input-bold {
	font-weight: bold;
	border: 0;
	margin: 2px;
}
.title-input {
	border-right: 1px dotted gray;
}
.stats-table {
	width: 500px;
}
.sales-history {
	width: 800px;
}
.price-input {
	width: 50px;
}
.layout {
	min-height: 100%;
	display: flex;
	flex-direction: row;
}
